<app-navbar></app-navbar>

<ng-container *ngIf="false; else passwordForm">
    <app-daftaro-spinner></app-daftaro-spinner>
</ng-container>

<ng-template #passwordForm>
    <div id="canvas">
        <div class="text-center">
            <form class="simple-form" id="changePassForm">
                <h1 class="h3 mb-3 font-weight-bold"> GANTI KATA KUNCI </h1>

                <div *ngIf="message" style="margin-top: 20px; margin-left: 20px;">
                    <div class="alert text-center" role="alert" [class.alert-success]="!isError" [class.alert-danger]="isError">
                        {{ message }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="OldPassword">Kata Kunci Lama</label>
                    <input id="OldPassword" ng-required="true" type="password" class="form-control" #old="ngModel" aria-label="Password" [class.is-invalid]="old.invalid || !isValidOld" [(ngModel)]="oldPassword" [ngModelOptions]="{ standalone: true }">
                    <span [class.d-none]="old.valid && isValidOld" class="text-danger"> 
                        Mohon mengisi Password Lama
                    </span>
                </div>

                <div class="form-group">
                    <label for="NewPassword">Kata Kunci Baru</label>
                    <input id="NewPassword" ng-required="true" type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z\d]).{7,}" aria-label="Password" #new="ngModel" [class.is-invalid]="new.invalid || !isValidNew" [(ngModel)]="newPassword" [ngModelOptions]="{ standalone: true }">
                    <span [class.d-none]="isValidNew && new.valid" class="text-danger"> 
                        Password minimal 7 karakter dengan campuran huruf besar, huruf kecil, dan angka
                    </span>
                </div>

                <div class="form-group">
                    <label for="RepeatPassword" >Kata Kunci Ulang</label>
                    <input id="RepeatPassword" required type="password" class="form-control" #retype="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z\d]).{7,}" aria-label="Password" [class.is-invalid]="!!retypeMessage" [(ngModel)]="retypePassword" [ngModelOptions]="{ standalone: true }">
                    <span [class.d-none]="!retypeMessage" class="text-danger"> 
                        {{ retypeMessage }}
                    </span>
                </div>

                <button  id="changePassButton" (click)="changePassword()" class="btn btn-lg btn-primary btn-block" value="Ubah">Ubah</button>
            </form>
        </div>
    </div>
</ng-template>