<div class="loading"></div>

<div id="canvas" class="text-center">
    <form id="formPatient" class="simple-form">
        <a routerLink="/" routerLinkActive="router-link-active">
            <img class="mb-4" src="../../assets/images/logo.png" alt="logo daftaro" width="72" height="72">
        </a>

        <h1 class="h3 mb-3 font-weight-normal">Lupa Password</h1>

        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
        </div>

        <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
        </div>

        <label class="sr-only" for="requestPassword"> Email </label>
        <div class="input-group">
            <div class="input-group-prepend">
                <i class="fas fa-user input-icon" id="requestPasswordIcon"></i>
            </div>

            <input type="email" id="requestPassword" class="form-control" placeholder="Email" aria-label="Email" [(ngModel)]="email" [ngModelOptions]="{ standalone: true }">
        </div>

        <h6 id="LupaPassword">
            <p style="margin-top: 30px;">Sudah Punya Akun? <a routerLink="/login" routerLinkActive="router-link-active" >Login</a></p>
        </h6>

        <button id="Kirim" (click)="send()" class="btn btn-lg btn-primary btn-block">Kirim</button>
    </form>
</div>