<html>
    <head>
        <title>Email Verification</title>
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-xl-6 text-center" id="success-text">
                    <img src="../../assets/Verifikasi sukses/Email centang with phone.svg" id="phone-email-img">
                    <h2 style="color: #007bff;">Email Verified !</h2>
                    
                    <div id="click">
                        <h4 style="font-weight: normal;">Thank you for verifying your email</h4>
                        <h4 class="return">
                            <a href="#">please click here to return</a>
                        </h4>
                    </div>
                </div>
                
                <div class="col-sm-12 col-lg-6 col-xl-6 ">
                    <img src="../../assets/Verifikasi sukses/Verifikasi Email Sukses doctor.svg" id="doctor-img">
                </div>
            </div>
      </div>
    </body>
</html>
